.section {
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 4.5s ease-in-out infinite;
}

.animate-slow-spin {
  animation: slow-spin 12s linear infinite;
}
